*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}


body{

background:#f6f2eb;
color:#40372e;

}



.navbar{

height:75px;
background:#fff;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 7%;

border-bottom:1px solid #eee;

}


.logo{

font-size:25px;
font-weight:bold;

}



.menu button{

border:none;
background:none;
font-size:35px;
cursor:pointer;

}



.menu-list{

display:none;

position:absolute;
left:7%;
top:70px;

background:white;

width:220px;

border-radius:20px;

box-shadow:0 10px 30px #0002;

overflow:hidden;

}



.menu-list a{

display:block;

padding:18px;

text-decoration:none;

color:#40372e;

}



.menu-list a:hover{

background:#f3ece2;

}




.hero{

height:85vh;

background:

linear-gradient(#0004,#0006),

url("images/hero.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

color:white;

}



.hero h1{

font-size:60px;

margin-bottom:20px;

}



.hero p{

font-size:22px;

margin-bottom:35px;

}



.hero a{

background:#d7c2a0;

padding:15px 35px;

border-radius:30px;

color:#332b24;

text-decoration:none;

}




.about{

padding:80px 20px;

text-align:center;

}



.about h2{

font-size:40px;

margin-bottom:25px;

}



.about p{

max-width:700px;

margin:auto;

line-height:2;

font-size:20px;

color:#75695d;

}



footer{

background:#332b24;

color:white;

padding:30px;

text-align:center;

}
